@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url("paper.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app-title-container {
  display: flex;
  margin-left: 20px;
}

#app-title-container img {
  width: 40px;
  margin-left: 10px;
}

h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#to-do-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: wheat;
  height: 700px;
  width: 1000px;
}

#title {
  font-family: "Kalam", Cursive;
  margin: 25px;
  height: 80px;
  width: 800px;
  background-color: wheat;
  border: none;
  text-align: center;
  font-weight: 400;
  font-size: 70px;
}

#title:hover {
  background-color: rgb(229, 207, 168);
  cursor: pointer;
}

#input-container {
  display: flex;
}

#new-task {
  margin-top: 3px;
  margin-left: 10px;
  height: 40px;
  width: 130px;
  background-color: lightcoral;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

#new-task:hover {
  background-color: rgb(220, 116, 116);
  color: rgb(225, 222, 222);
  cursor: pointer;
}

#task-input {
  box-sizing: border-box;
  padding-left: 15px;
  height: 45px;
  width: 600px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  border-radius: 10px;
  border: cornflowerblue 0.2rem solid;
}

#task-input:hover {
  background-color: rgb(237, 235, 235);
  cursor: pointer;
}

#list-container {
  background: white;
  padding: 0;
  width: 800px;
  height: 475px;
  border-radius: 5px;
  border: limegreen 0.2rem solid;
}

#list-container li {
  height: 40px;
  width: 555px;
  font-family: "Roboto", sans-serif;
  align-items: center;
  position: relative;
  list-style: none;
  padding-left: 245px;
  padding-top: 20px;
}

#list-container li::before {
  content: "";
  background-image: url(./unchecked.png);
  height: 28px;
  width: 28px;
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 17px;
  left: 200px;
  cursor: pointer;
}

#list-container li.checked {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

#list-container li.checked::before {
  background-image: url(./checked.png);
  height: 34px;
  width: 34px;
  top: 17px;
  left: 197px;
}

#list-container li img {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 200px;
  cursor: pointer;
}
